body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0; /* Slightly darker background */
}

.form-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 25px; /* Slightly increased padding */
  border: 1px solid #bbb; /* Lighter border color */
  border-radius: 10px; /* Slightly more rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Increased shadow for depth */
  background-color: #fff;
}

.form-title {
  text-align: center;
  margin-bottom: 25px; /* Increased margin-bottom */
  color: #222; /* Darker text color */
}

.user-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px; /* Slightly reduced spacing */
  font-weight: bold;
}

.form-input {
  padding: 10px; /* Increased padding */
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #bbb; /* Lighter border color */
  border-radius: 4px;
  font-size: 14px;
}

.submit-button, .export-button {
  padding: 12px; /* Slightly increased padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 16px;
}

.submit-button:hover, .export-button:hover {
  background-color: #0069d9; /* Slightly adjusted hover color */
}

.export-button {
  margin-top: 20px;
  background-color: #28a745;
}

.export-button:hover {
  background-color: #218838;
}
